@model IEnumerable<tp4.Models.UsuarioCaja>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.caja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.caja.id)
            </td>
            
        </tr>
}
    </tbody>
</table>
