@model tp4.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monto" class="control-label"></label>
                <input asp-for="monto" class="form-control" />
                <span asp-validation-for="monto" class="text-danger"></span>
            </div>
            <!-- 
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="pagado" /> @Html.DisplayNameFor(model => model.pagado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="metodo" class="control-label"></label>
                <input asp-for="metodo" class="form-control" />
                <span asp-validation-for="metodo" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Crear pago" class="btn btn-primary mt-2" />
            </div>
            @if (ViewData["msg"] != null && ViewData["msg"] != "")
            {
                <h3 class="alert alert-danger">@ViewData["msg"]</h3>
            }
        </form>
    </div>
</div>

<div>
    <a asp-action="Index"class="btn btn-secondary mt-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z" />
            <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
        </svg>
        Volver
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
